
###> symfony/framework-bundle ###
/.idea/*
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/misc/*
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
